<section>
  <br>
  <br>
  <form class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Employee Number" formControlName="username">
      <button mat-button type="button" *ngIf="this.loginForm.get('username').value" matSuffix mat-icon-button
        aria-label="Clear" (click)="this.loginForm.get('username').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Missing Employee Number</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="PIN" formControlName="password">
      <button mat-button type="button" *ngIf="this.loginForm.get('password').value" matSuffix mat-icon-button
        aria-label="Clear" (click)="this.loginForm.get('password').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Missing Employee PIN</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" class="submit" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
