<section>
  <br>
  <form class="unit-move-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="moveUnitForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Enter New Area" formControlName="binID">
      <button mat-button type="button" *ngIf="this.moveUnitForm.get('binID').value" matSuffix mat-icon-button
        aria-label="Clear" (click)="this.moveUnitForm.get('binID').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Missing Area ID</mat-error>
    </mat-form-field>
    <div class="unit-move-actions" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
      <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="moveUnitForm.invalid">Submit</button>
      <button *ngIf="!(isLoading$ | async)" type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </div>
  </form>
</section>
