<section *ngIf="isLoading$ | async" class="unit-actions-loading" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section *ngIf="!(isLoading$ | async)" class="unit-actions" fxLayout="column" fxLayoutGap="50px">
  <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" (click)="onPullUnit()">Pull</button>
    <button mat-raised-button color="accent" (click)="onMoveUnit()" (click)="onMovingUnit = true">Move</button>
  </div>
  <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" (click)="onTransferUnit('West Yard')">West
      Yard</button>
    <button mat-raised-button color="accent" (click)="onTransferUnit('B Shed')">B Shed</button>
  </div>
  <div class="button-row" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</section>
