<section class="unit-card">
  <mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
      <div class="card-title">Unit#: {{ unit.ID }}</div>
      <div class="card-title">Area: {{ unit.binID }} </div>
    </mat-card-title>
    <hr>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Product: {{ unit.productID }}</div>
        <div class="card-content">Quantity: {{ unit.quantity }}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Size: {{ unit.size }}</div>
        <div *ngIf="unit.lengthType" class="card-content">{{ unit.lengthType }}: {{ unit.length }} Foot</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Description:</div>
        <div class="card-content">{{ unit.description }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<section *ngIf="!onPullingUnit && !onMovingUnit" class="unit-actions" fxLayout="column" fxLayoutGap="50px">
  <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" (click)="onPullUnit()" (click)="onPullingUnit = true">Pull</button>
    <button mat-raised-button color="accent" (click)="onMoveUnit()" (click)="onMovingUnit = true">Move</button>
  </div>
  <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button color="accent" (click)="onTransferUnit('West Yard')">West Yard</button>
    <button mat-raised-button color="accent" (click)="onTransferUnit('B Shed')">B Shed</button>
  </div>
  <div class="button-row" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</section>
<section *ngIf="onPullingUnit" class="pull-unit">
  <app-unit-pull></app-unit-pull>
</section>
<section *ngIf="onMovingUnit" class="move-unit">
  <app-unit-move></app-unit-move>
</section>
