<section class="unit-card">
  <mat-card>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
      <div class="card-title">Unit#: {{ unit.ID }}</div>
      <div class="card-title">Area: {{ unit.binID }} </div>
    </mat-card-title>
    <hr>
    <mat-card-content fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Product: {{ unit.productID }}</div>
        <div class="card-content">Quantity: {{ unit.quantity }}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Size: {{ unit.size }}</div>
        <div *ngIf="unit.lengthType" class="card-content">{{ unit.lengthType }}: {{ unit.length }} Foot</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="card-content">Description:</div>
        <div class="card-content">{{ unit.description }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
