<section>
  <br>
  <br>
  <form class="unit-scan-button" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" [formGroup]="unitScanForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Scan Unit Tag" formControlName="unitID">
      <button mat-button type="button" *ngIf="this.unitScanForm.get('unitID').value" matSuffix mat-icon-button
        aria-label="Clear" (click)="this.unitScanForm.get('unitID').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error>Missing Unit Number</mat-error>
    </mat-form-field>
    <button *ngIf="!(isLoading$ | async)" class="submit" type="submit" mat-raised-button color="primary" [disabled]="unitScanForm.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
