/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  font-size: 125%;
  margin: 0
}

html,
input {
  font-size: 125%
}

.button-row button {
  font-size: 100%;
}
